
thead tr {
    background-color: #e0e0e0;
    color: inherit;
}

thead th {
    vertical-align: bottom;
    text-align: left;
    white-space: normal;
}

thead td {
}

tbody tr {
    vertical-align: top;
}

tbody th {
    text-align: left;
    background-color: #e8e8e8;
    color: inherit;
}

tbody tr {
    background-color: #f0f0f0;
    color: inherit;
}
tbody tr.odd-row {
    background-color: #f0f0ff;
    color: inherit;
}

tbody td {
}

tr.prior-revision {
    color: grey;
}

table.tr-hover tbody tr:hover {
    background-color: #f8f8f8;
    border-color: black;
}


tbody tr.prior-revision:hover {
    color: inherit;
}

.multirow {
    vertical-align: middle;
}


td.centered {
    vertical-align: middle;
    text-align: center;
}

.LMHP
{
    /*font-weight: bold;*/
}

.fr
{
    float: right;
}

.revision {
}

.different {
    background-color: cornsilk;
}

.label {
}
.select {
}
.label,
.select {
    /*font-variant: small-caps;*/
    font-style: italic;
    background-color: powderblue;
    /*text-decoration: underline;*/
}


div > div.statement {
    margin-left: 1em;
}
div > div.item {
    margin-left: 1em;
}
div.item > div.item {
    margin-left: 1em;
}

.anomaly {
    font-style: italic;
    background-color: yellow;
}

.withdrawn {
    text-decoration: line-through;
}
.withdrawn2 {
    color: grey;
    text-decoration: line-through;
}

*[title] {
    cursor: help;
}

details.ODPs {
    display: inline-table;
    vertical-align: text-top;

}
details[open] {
    /*font-size: smaller;*/
}
summary {
    list-style: none;
    cursor: pointer;
}

details summary:after {
    /*content: "☟";*/
    content: "⬇";
    font-size: smaller;
}

span.TBS {
    font-variant: small-caps;
    font-style: italic;
    font-weight: bold;
}

span.match {
    background-color: lightgreen;
}
span.nomatch {
    background-color: lightyellow;
}
span.textmatch {
    background-color: lightskyblue;
}
span.partialmatch {
    background-color: lightyellow;
}

span.superscript-identifier {
    /*font-variant: small-caps;*/
    vertical-align: super;
    font-family: courier, fixed, monospace;
    font-size: xx-small;
    hyphens: none;
}

span.boolean {
    font-variant: small-caps;
    font-family: courier, fixed, monospace;
}

span.guideline {
    font-size: smaller;
}

div.ars-statement {
    /*white-space: pre;*/
}

span.ODP {
    background-color: powderblue;
}

span.insert {
    font-size: smaller;
    font-family: courier, fixed, monospace;
}

ul.statement-odp-list {
    margin-top: 0;
}

span.regex-group,
span.analysis-string {
    font-family: courier, fixed, monospace;
    font-size: smaller;
}
table.analysis {
    margin-left: 1em;
}
.missing {
    background-color: orange;
}
.novel {
    background-color: orange;
}

.novel-ODP {
    text-decoration: underline;
    text-decoration-color: orange;
}
.established-ODP {
    text-decoration: none;
}
.comparison {
    text-align: right;
}

.param_id {
    font-family: courier, fixed, monospace;
    font-size: smaller;
}

.id {
    font-family: monospace;
}

.center {
    text-align: center;
}

caption {
    font-weight: bold;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
    width: 50%;
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

div.comparison-example {
    margin-left: 5%;
    margin-right: 5%;
}

.semantic-error {
    text-decoration: underline;
    text-decoration-color: sandybrown;
}
.semantic-error::before {
    background-color: sandybrown;
    content: "faux pas ☛ ";
}

div.trailer > p {
    font-size: xx-small;
    max-width: 85ex;
    text-align: center;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    color: #888;
    background-color: inherit;
    line-height: 120%
}